<div class="d-flex justify-content-center">
  <form [formGroup]="employeeForm">
    <div class="p-fluid">
      <div class="p-field">
        <app-text
          [reqObj]="{
            label: 'Full Name',
            mandatory: true,
            formCtrl: 'fullName'
          }"
          [parentForm]="employeeForm"
          [isSubmitted]="isSubmitted"
        ></app-text>
      </div>
      <div class="p-field">
        <app-select
          [reqObj]="{
            label: 'Job Title',
            options: jobTitles,
            mandatory: true,
            formCtrl: 'jobTitle'
          }"
          [parentForm]="employeeForm"
          [isSubmitted]="isSubmitted"
        ></app-select>
      </div>
      <div class="p-field">
        <app-select
          [reqObj]="{
            label: 'Department',
            options: departments,
            mandatory: true,
            formCtrl: 'department'
          }"
          [parentForm]="employeeForm"
          [isSubmitted]="isSubmitted"
        ></app-select>
      </div>
      <div class="p-field">
        <app-select
          [reqObj]="{
            label: 'Location',
            options: locations,
            mandatory: true,
            formCtrl: 'location'
          }"
          [parentForm]="employeeForm"
          [isSubmitted]="isSubmitted"
        ></app-select>
      </div>
      <div class="p-field">
        <app-number
          [reqObj]="{
            label: 'Age',
            min: 0,
            mandatory: true,
            formCtrl: 'age'
          }"
          [parentForm]="employeeForm"
          [isSubmitted]="isSubmitted"
        ></app-number>
      </div>
      <div class="p-field">
        <app-number
          [reqObj]="{
            label: 'Salary',
            min: 0,
            mandatory: true,
            formCtrl: 'salary'
          }"
          [parentForm]="employeeForm"
          [isSubmitted]="isSubmitted"
        ></app-number>
      </div>
    </div>
    <div class="text-right mt-2">
      <button
        pButton
        pRipple
        class="p-button p-button-secondary p-button-sm"
        (click)="onClose($event)"
      >
        Cancel
      </button>
      <button
        pButton
        pRipple
        class="p-button p-button-primary p-button-sm ml-2"
        (click)="onSubmit($event)"
      >
        Submit
      </button>
    </div>
  </form>
</div>
