<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand" href="javascript:void(0);"
    ><img
      src="https://www.onpassive.com/onpassive-october(2)/img/logo.png"
      alt="company-logo"
      style="
        height: 35px;
        background-color: white;
        padding: 5px;
        border-radius: 25px;
      "
  /></a>
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  ></button>
</nav>
