<section class="container-fluid">
  <p-table
    #dt
    [value]="employeeList"
    dataKey="id"
    styleClass="p-datatable-customers"
    [rowHover]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0"
    [globalFilterFields]="[
      'fullName',
      'jobTitle',
      'department',
      'location',
      'age',
      'salary'
    ]"
  >
    <ng-template pTemplate="caption">
      <div class="table-header text-right">
        <span class="p-input-icon-left">
          <input
            pInputText
            class="form-control"
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search"
          />
        </span>
        <button
          pButton
          type="button"
          label="Add"
          icon="pi pi-plus"
          class="p-button-sm ml-2"
          (click)="updateEmployee()"
        ></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>S.No</th>
        <th pSortableColumn="fullName">
          <div class="p-d-flex p-jc-between p-ai-center">
            Full Name
            <p-sortIcon field="fullName"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="jobTitle">
          <div class="p-d-flex p-jc-between p-ai-center">
            Job Title
            <p-sortIcon field="jobTitle"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="department">
          <div class="p-d-flex p-jc-between p-ai-center">
            Department
            <p-sortIcon field="department"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="location">
          <div class="p-d-flex p-jc-between p-ai-center">
            Location
            <p-sortIcon field="location"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="age">
          <div class="p-d-flex p-jc-between p-ai-center">
            Age
            <p-sortIcon field="age"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="salary">
          <div class="p-d-flex p-jc-between p-ai-center">
            Salary
            <p-sortIcon field="salary"></p-sortIcon>
          </div>
        </th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee let-index="rowIndex">
      <tr class="p-selectable-row">
        <td>
          {{ index + 1 }}
        </td>
        <td>
          {{ employee.fullName }}
        </td>
        <td>
          {{ employee.jobTitle }}
        </td>
        <td>
          {{ employee.department }}
        </td>
        <td>
          {{ employee.location }}
        </td>
        <td>
          {{ employee.age }}
        </td>
        <td>
          {{ employee.salary }}
        </td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-primary p-mr-2 mr-2"
            (click)="updateEmployee(employee)"
            pTooltip="Edit"
          ></button>
          <p-confirmPopup></p-confirmPopup>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger"
            (click)="confirm($event, index)"
            pTooltip="Delete"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" class="text-center">No Records found.</td>
      </tr>
    </ng-template>
  </p-table>
</section>
