<ng-container [formGroup]="parentForm"
  ><label for="{{ reqObj.label }}"
    >{{ reqObj.label | titlecase }}&nbsp;{{
      reqObj?.mandatory ? "*" : null
    }}</label
  >
  <input
    id="{{ reqObj.label }}"
    class="form-control"
    type="password"
    pInputText
    [formControlName]="reqObj?.formCtrl"
    [ngClass]="{
      'is-invalid':
        (isSubmitted || parentForm.get(reqObj.formCtrl)?.touched) &&
        parentForm.get(reqObj.formCtrl)?.errors
    }"
  />
  <small
    class="p-error"
    *ngIf="
      (isSubmitted || parentForm.get(reqObj.formCtrl)?.touched) &&
      parentForm.get(reqObj.formCtrl)?.errors?.required
    "
  >
    This is a required field
  </small>
</ng-container>
